<html ng-app="directiveMadness">
<head>
  <title>Angular Assignment-2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="scope.js"></script>
</head>

<body ng-controller="scopeCtrl">
  <main-nav></main-nav>
  <div class="container">
    <div class="col-xs-6">
    <label>TwoWayVar:</label>
    <input type="text" ng-model="firstname">
    <p>{{firstname}}</p>
    <label>OneWayVar:</label>
    <input type="text" ng-model="lastname">
    <p>{{lastname}}</p>

    <label>Name:</label>
    <input type="text" name="name" value="" ng-model="name">
    <button type="button" name="button" ng-click="sayhello(name)">sayHello</button>
    </div>
      <div class="col-xs-6">
      <isolated fname="firstname" lname={{lastname}} dirHello="sayhello(name)"></isolated>
    </div>
  </div>
<!--  <copyright>Dubba Company</copyright>-->
</body>
