.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  height: 60px;
  background-color: #f5f5f5;
}
input {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

input.ng-invalid {
  border: 5px solid red;
}

input.ng-valid {
  border: 5px solid green;
}
input.ng-untouched {
  border: 5px solid gray;
}